html
  head
    meta(charset="UTF-8")
    title Лог аккаунта

    style.
      body {
        font-family: Menlo, Monaco, monospace;
        font-size: 12px;
        background: #2d2d2d;
        color: #cccccc;
      }
      
  body
    script(src="../js/log.js")
    div(id="text")



